arabic-reshaper
asgiref
blinker
click
colorama
Django
django-crispy-forms
django-widget-tweaks
Flask
Flask-Cors
future
html5lib
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
numpy
Pillow
PyPDF2
python-bidi
pytz
reportlab
six
sqlparse
webencodings
Werkzeug
xhtml2pdf
zipp
Gunicorn
